.benefits__box {
  background: $color-light-grey;
  padding: 0.1px 0;

  .benefits__container {
    display: flex;
    flex-direction: column-reverse;
    background: $color-white;
    margin: 4rem 3rem;

    .box__image {
      position: relative;
      width: 80%;
      height: 100%;
      margin-top: 3rem;

      .image__item {
        position: relative;
        margin: 0 auto;
        max-width: 100%;
        z-index: 10;
      }
    }

    .box__macbook {
      .item__rectangle {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20%;
        transform: rotate(45deg);
        border-radius: 30%;
        background: $color-redish;
        z-index: 5;
      }
    }

    .box__iphone {
      .image__iphone {
        transform: translateX(12%);
      }

      .item__circle {
        position: absolute;
        top: 0;
        padding: 35%;
        border-radius: 50%;
        background: $color-primary;
        z-index: 5;
        transform: translateX(17.5%);
      }

    }

    .box__text {
      padding: 3rem 2.2rem 3rem 2.2rem;


      .benefits__title {
        font-family: $font-primary;
        font-weight: 400;
        font-size: 3rem;
        line-height: 3.5rem;
        color: $color-black;
        text-align: left;
        padding-bottom: 2rem;
      }

      .benefits__text {
        font-family: $font-regular;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.9rem;
        color: $color-black;
        text-align: left;
      }
    }

    &:nth-child(3) {
      flex-direction: column;
      background: $color-light-grey;
      padding: 0;
      min-height: 40rem;

      .box__article3 {
        background: $color-white;
      }

      .box__trumpet {
        background: $color-green;
        width: 100%;
        margin-top: 0;
        display: flex;
        justify-content: center;
        padding-top: 10%;
        padding-right: 15%;

        .image__trumpet {

        }
      }

    }
  }


  @include desktop {

    .benefits__container {
      width: 70%;
      margin: 4rem auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 37rem;

      .box__text {
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .benefits__text {
          position: relative;
          padding-bottom: 5rem;

          &::after {
            content: "";
            position: absolute;
            height: 4px;
            width: 70%;
            max-width: 26rem;
            left: 0;
            bottom: 0;
          }
        }
      }

      .box__article1 {
        .benefits__text {
          &::after {
            background: $color-redish;
          }
        }

      }

      .box__article2 {
        .benefits__text {
          &::after {
            background: $color-primary;
          }
        }
      }

      .box__article3 {
        flex-grow: 3;

        .benefits__text {
          &::after {
            background: $color-green;
          }
        }
      }

      .box__image {
        width: 40%;
        margin: 0;
        position: relative;

        .image__macbook {
          position: absolute;
          left: -5rem;
          top: 11.3rem;
        }

        .item__rectangle {
          position: absolute;
          right: 5rem;
          top: 8rem;
        }

        .image__iphone {
          position: absolute;
          transform: translateY(-50%) translateX(-50%);
          top: 50%;
          left: 60%;
        }

        .item__circle {
          padding: 38%;
          transform: translateY(-50%) translateX(-50%);
          top: 45%;
          left: 50%;

        }

      }

      &:nth-child(2) {
        flex-direction: row-reverse;

        .box__iphone {
          margin: 0;
        }
      }

      &:nth-child(3) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: $color-light-grey;
        column-gap: 5%;

        .box__trumpet {
          width: 40%;
          padding: 3rem 4rem 0 0;
          margin: 0;
          position: relative;

          .image__trumpet {
            position: absolute;
            bottom: 0;
            height: 70%
          }
        }

      }
    }
  }
}




