.pricing__box {
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pricing__title {
    font-family: $font-primary;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 4.2rem;
    color: $color-black;
    margin-bottom: 1.5rem;
  }

  .pricing__boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .pricing__container {
      position: relative;
      border-radius: 1.8rem;
      padding: 2rem 2rem;
      margin-bottom: 5.4rem;
      max-width: 33.3rem;
      width: 90%;

      &:nth-child(1) {
        border: 0.1rem solid $color-redish;

        .pricing__value {
          color: $color-redish;
        }

        .pricing__btn {
          background: $color-redish;
        }
      }

      &:nth-child(2) {
        border: 0.1rem solid $color-primary;
        max-width: 37.9rem;
        width: 100%;

        box-shadow: 5px 10px 27px #07ACE629;

        .pricing__value {
          color: $color-primary;
        }

        .pricing__btn {
          background: $color-primary;
        }
      }

      &:nth-child(3) {
        border: 0.1rem solid $color-green;

        .pricing__value {
          color: $color-green;
        }

        .pricing__btn {
          background: $color-green;
        }
      }

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 0.5rem;

      .container__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 12rem;
        width: 100%;
        padding-right: 1.5rem;

        .pricing__title--small {
          font-family: $font-primary;
          font-size: 2rem;
          font-weight: 700;
          line-height: 0.1rem;
          color: $color-black;
          margin-bottom: 3rem;
        }

        .pricing__value {
          font-family: $font-regular;
          font-weight: 300;
          font-size: 4.6rem;
          line-height: 0.2rem;
          margin-bottom: 3.6rem;;
        }

        .pricing__description {
          font-family: $font-primary;
          font-weight: 700;
          font-size: 1.2rem;
          line-height: 0.1rem;
          color: $color-black;
        }
      }

      .pricing__list {
        font-family: $font-regular;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 4.1rem;
        padding-bottom: 3rem;
        width: 100%;

        .list__item {
          list-style-image: url("../img/Ckechmark-1.svg");
        }

        .list__item--bad {
          list-style-image: url("../img/Close.svg");
        }
      }

      .pricing__btn {
        font-family: $font-regular;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 4.1rem;
        color: $color-white;

        position: absolute;
        border-radius: 2.3rem;
        padding: 0.7rem 5.45rem;
        transform: translateX(-50%) translateY(-50%);
        top: 100%;
        left: 50%;
      }
    }
  }
}

@include desktop {
  .pricing__box {
    width: 80%;
    row-gap: 4rem;

    .pricing__boxes {
      flex-direction: row;
      justify-content: space-between;
      column-gap: 1rem;

      .pricing__container {
        padding-top: 4rem;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
        max-width: 37.2rem;

        .pricing__list {
          padding-top: 3rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        &:nth-child(2) {
          max-width: 40.5rem;
          padding: 6rem 2rem;
        }

      }
    }
  }
}