.benefits__box {
  background: $color-light-grey;
  padding: 0.1px 0;

  img {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    z-index: 10;
  }

  .benefits__container {
    display: flex;
    flex-direction: column-reverse;
    background: $color-white;
    padding: 3rem 2.2rem 3rem 2.2rem;
    margin: 4rem 3rem;


    .box__image {
      position: relative;
      width: 80%;
      height: 100%;
      margin-bottom: 3rem;



      .image__iphone{
        transform: translateX(12%);
      }

      .item__rectangle {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20%;
        transform: rotate(45deg);
        border-radius: 30%;
        background: $color-redish;
        z-index: 5;

      }

      .item__circle {
        position: absolute;
        top: 0;
        padding: 35%;
        border-radius: 50%;
        background: $color-primary;
        z-index: 5;
        transform: translateX(17.5%);
      }



    }

  }

  .box__text {
    .benefits__title {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 3rem;
      line-height: 3.5rem;
      color: $color-black;
      text-align: left;
      padding-bottom: 2rem;
    }

    .benefits__text {
      font-family: $font-regular;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.9rem;
      color: $color-black;
      text-align: left;
    }
  }

  .benefits__containers{
    display: flex;
    flex-direction: column;
    background: $color-white;
    margin: 4rem 3rem;

    .box__article3{
      padding: 3rem 2.2rem 3rem 2.2rem;

    }

    .box__trumpet{
      background: $color-green;
      width: 100%;
      height: 100%;
      padding-top: 3rem;


      .image__trumpet{
        width: 80%;


      }
    }
  }
}
