/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 15px;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
.container .row [class*=col-] {
  min-height: 1px;
  width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 800px) {
  .container .row .col-1 {
    width: 8.3333333333%;
  }
  .container .row .col-2 {
    width: 16.6666666667%;
  }
  .container .row .col-3 {
    width: 25%;
  }
  .container .row .col-4 {
    width: 33.3333333333%;
  }
  .container .row .col-5 {
    width: 41.6666666667%;
  }
  .container .row .col-6 {
    width: 50%;
  }
  .container .row .col-7 {
    width: 58.3333333333%;
  }
  .container .row .col-8 {
    width: 66.6666666667%;
  }
  .container .row .col-9 {
    width: 75%;
  }
  .container .row .col-10 {
    width: 83.3333333333%;
  }
  .container .row .col-11 {
    width: 91.6666666667%;
  }
  .container .row .col-12 {
    width: 100%;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 3.7rem;
  text-decoration: none;
  color: #08A6E4;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header__box {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px #00000029;
  padding: 0 3rem 0 2.5rem;
  position: relative;
}
.header__box .menu__box {
  box-shadow: 0 3px 6px #00000029;
  position: absolute;
  left: 0;
  top: 85%;
  max-height: 0;
  padding: 0 2.5rem;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.2s;
}
.header__box .menu__box .menu {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
  margin-top: 3rem;
}
.header__box .menu__box .menu .menu__item {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
  letter-spacing: 0.328rem;
  padding: 0.7rem 0;
  text-decoration: none;
  font-weight: 700;
  color: #A5A5A5;
}
.header__box .menu__box .menu .menu__item:link, .header__box .menu__box .menu .menu__item:visited {
  color: #A5A5A5;
}
.header__box .menu__box .menu .menu__item:hover {
  color: #000000;
  box-shadow: 0px -2px 0 #08A6E4 inset;
}
.header__box .menu__box .menu .menu__item:active {
  color: #000000;
}
@media screen and (min-width: 800px) {
  .header__box .menu__box {
    box-shadow: 0 0 0 transparent;
    max-height: 7rem;
    top: 0;
    position: relative;
    flex-direction: row;
    overflow: visible;
    align-items: center;
    justify-content: center;
  }
  .header__box .menu__box .menu {
    flex-direction: row;
    -moz-column-gap: 8rem;
         column-gap: 8rem;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
  }
  .header__box .menu__box .menu .menu__item:hover {
    color: #000000;
    box-shadow: 0 0 0 transparent;
    padding-bottom: 3rem;
    border-bottom: 0.2rem solid #08A6E4;
  }
}
.header__box .menu__icon {
  background: transparent;
  padding: 15px;
  cursor: pointer;
  display: inline-block;
}
@media screen and (min-width: 800px) {
  .header__box .menu__icon {
    display: none;
  }
}
.header__box .navigation__icon {
  background: #08A6E4;
  height: 2px;
  display: block;
  width: 20px;
  position: relative;
}
.header__box .navigation__icon:before, .header__box .navigation__icon:after {
  background-color: #08A6E4;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
}
.header__box .navigation__icon:before {
  top: 6px;
}
.header__box .navigation__icon:after {
  top: -6px;
}
.header__box .menu__btn {
  display: none;
}
.header__box .menu__btn:checked ~ .menu__box {
  max-height: 15rem;
  padding-bottom: 2.5rem;
}
.header__box .menu__btn:checked ~ .menu__icon .navigation__icon {
  background: transparent;
}
.header__box .menu__btn:checked ~ .menu__icon .navigation__icon:before {
  top: 0;
  transform: rotate(45deg);
}
.header__box .menu__btn:checked ~ .menu__icon .navigation__icon:after {
  top: 0;
  transform: rotate(-45deg);
}

/* ++++++++++++ OPENING ++++++++++++ */
.opening__box {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.opening__title {
  font-size: 3.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 4.1rem;
  padding: 13rem 0 0.4rem;
}

.opening__description {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 2.2rem;
  padding: 1.6rem 0 3.8rem;
  text-align: center;
}

.opening__button {
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 2.2rem;
  padding: 2.2rem 9.2rem;
  background: #08A6E4;
  border-radius: 4rem;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
}

.opening__background {
  width: 100%;
  height: auto;
  min-width: 80rem;
}

.statistic__box {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.statistic__title {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 3.5rem;
  padding: 8rem 0 2.5rem 0;
  text-align: center;
}

.statistic__containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
@media screen and (min-width: 800px) {
  .statistic__containers {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.statistic__container {
  display: flex;
  flex-direction: column;
}

.box__image {
  margin: auto;
  position: relative;
  height: 7rem;
}

.statistic__container > .box__image {
  width: 6rem;
}

.image__circle-red {
  display: block;
  background: #FB3B64;
  padding: 3rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.image__person {
  display: block;
  position: absolute;
  top: 0.1rem;
  right: -1rem;
}

.image__circle-blue {
  display: block;
  background: #08A6E4;
  padding: 3rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.image__eye {
  display: block;
  position: absolute;
  top: 1.2rem;
  right: -2.3rem;
}

.image__circle-green {
  display: block;
  background: #55DFB4;
  padding: 3rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.image__catalog {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: -2rem;
}

.statistic__container .item__value {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 0.596rem;
  line-height: 2.4rem;
  color: #000000;
  padding-bottom: 1.1875rem;
}

.statistic__container .item__text {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #A5A5A5;
  line-height: 2rem;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 800px) {
  .statistic__container .item__text {
    padding-bottom: 12.1rem;
  }
}

.benefits__box {
  background: #F7F7F7;
  padding: 0.1px 0;
}
.benefits__box .benefits__container {
  display: flex;
  flex-direction: column-reverse;
  background: #FFFFFF;
  margin: 4rem 3rem;
}
.benefits__box .benefits__container .box__image {
  position: relative;
  width: 80%;
  height: 100%;
  margin-top: 3rem;
}
.benefits__box .benefits__container .box__image .image__item {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  z-index: 10;
}
.benefits__box .benefits__container .box__macbook .item__rectangle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20%;
  transform: rotate(45deg);
  border-radius: 30%;
  background: #FB3B64;
  z-index: 5;
}
.benefits__box .benefits__container .box__iphone .image__iphone {
  transform: translateX(12%);
}
.benefits__box .benefits__container .box__iphone .item__circle {
  position: absolute;
  top: 0;
  padding: 35%;
  border-radius: 50%;
  background: #08A6E4;
  z-index: 5;
  transform: translateX(17.5%);
}
.benefits__box .benefits__container .box__text {
  padding: 3rem 2.2rem 3rem 2.2rem;
}
.benefits__box .benefits__container .box__text .benefits__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #000000;
  text-align: left;
  padding-bottom: 2rem;
}
.benefits__box .benefits__container .box__text .benefits__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #000000;
  text-align: left;
}
.benefits__box .benefits__container:nth-child(3) {
  flex-direction: column;
  background: #F7F7F7;
  padding: 0;
  min-height: 40rem;
}
.benefits__box .benefits__container:nth-child(3) .box__article3 {
  background: #FFFFFF;
}
.benefits__box .benefits__container:nth-child(3) .box__trumpet {
  background: #55DFB4;
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-right: 15%;
}
@media screen and (min-width: 800px) {
  .benefits__box .benefits__container {
    width: 70%;
    margin: 4rem auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 37rem;
  }
  .benefits__box .benefits__container .box__text {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .benefits__box .benefits__container .box__text .benefits__text {
    position: relative;
    padding-bottom: 5rem;
  }
  .benefits__box .benefits__container .box__text .benefits__text::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 70%;
    max-width: 26rem;
    left: 0;
    bottom: 0;
  }
  .benefits__box .benefits__container .box__article1 .benefits__text::after {
    background: #FB3B64;
  }
  .benefits__box .benefits__container .box__article2 .benefits__text::after {
    background: #08A6E4;
  }
  .benefits__box .benefits__container .box__article3 {
    flex-grow: 3;
  }
  .benefits__box .benefits__container .box__article3 .benefits__text::after {
    background: #55DFB4;
  }
  .benefits__box .benefits__container .box__image {
    width: 40%;
    margin: 0;
    position: relative;
  }
  .benefits__box .benefits__container .box__image .image__macbook {
    position: absolute;
    left: -5rem;
    top: 11.3rem;
  }
  .benefits__box .benefits__container .box__image .item__rectangle {
    position: absolute;
    right: 5rem;
    top: 8rem;
  }
  .benefits__box .benefits__container .box__image .image__iphone {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 60%;
  }
  .benefits__box .benefits__container .box__image .item__circle {
    padding: 38%;
    transform: translateY(-50%) translateX(-50%);
    top: 45%;
    left: 50%;
  }
  .benefits__box .benefits__container:nth-child(2) {
    flex-direction: row-reverse;
  }
  .benefits__box .benefits__container:nth-child(2) .box__iphone {
    margin: 0;
  }
  .benefits__box .benefits__container:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F7F7F7;
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
  .benefits__box .benefits__container:nth-child(3) .box__trumpet {
    width: 40%;
    padding: 3rem 4rem 0 0;
    margin: 0;
    position: relative;
  }
  .benefits__box .benefits__container:nth-child(3) .box__trumpet .image__trumpet {
    position: absolute;
    bottom: 0;
    height: 70%;
  }
}

.pricing__box {
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__box .pricing__title {
  font-family: "Raleway", sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4.2rem;
  color: #000000;
  margin-bottom: 1.5rem;
}
.pricing__box .pricing__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pricing__box .pricing__boxes .pricing__container {
  position: relative;
  border-radius: 1.8rem;
  padding: 2rem 2rem;
  margin-bottom: 5.4rem;
  max-width: 33.3rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.pricing__box .pricing__boxes .pricing__container:nth-child(1) {
  border: 0.1rem solid #FB3B64;
}
.pricing__box .pricing__boxes .pricing__container:nth-child(1) .pricing__value {
  color: #FB3B64;
}
.pricing__box .pricing__boxes .pricing__container:nth-child(1) .pricing__btn {
  background: #FB3B64;
}
.pricing__box .pricing__boxes .pricing__container:nth-child(2) {
  border: 0.1rem solid #08A6E4;
  max-width: 37.9rem;
  width: 100%;
  box-shadow: 5px 10px 27px #07ACE629;
}
.pricing__box .pricing__boxes .pricing__container:nth-child(2) .pricing__value {
  color: #08A6E4;
}
.pricing__box .pricing__boxes .pricing__container:nth-child(2) .pricing__btn {
  background: #08A6E4;
}
.pricing__box .pricing__boxes .pricing__container:nth-child(3) {
  border: 0.1rem solid #55DFB4;
}
.pricing__box .pricing__boxes .pricing__container:nth-child(3) .pricing__value {
  color: #55DFB4;
}
.pricing__box .pricing__boxes .pricing__container:nth-child(3) .pricing__btn {
  background: #55DFB4;
}
.pricing__box .pricing__boxes .pricing__container .container__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 12rem;
  width: 100%;
  padding-right: 1.5rem;
}
.pricing__box .pricing__boxes .pricing__container .container__text .pricing__title--small {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.1rem;
  color: #000000;
  margin-bottom: 3rem;
}
.pricing__box .pricing__boxes .pricing__container .container__text .pricing__value {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 4.6rem;
  line-height: 0.2rem;
  margin-bottom: 3.6rem;
}
.pricing__box .pricing__boxes .pricing__container .container__text .pricing__description {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 0.1rem;
  color: #000000;
}
.pricing__box .pricing__boxes .pricing__container .pricing__list {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 4.1rem;
  padding-bottom: 3rem;
  width: 100%;
}
.pricing__box .pricing__boxes .pricing__container .pricing__list .list__item {
  list-style-image: url("../img/Ckechmark-1.svg");
}
.pricing__box .pricing__boxes .pricing__container .pricing__list .list__item--bad {
  list-style-image: url("../img/Close.svg");
}
.pricing__box .pricing__boxes .pricing__container .pricing__btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 4.1rem;
  color: #FFFFFF;
  position: absolute;
  border-radius: 2.3rem;
  padding: 0.7rem 5.45rem;
  transform: translateX(-50%) translateY(-50%);
  top: 100%;
  left: 50%;
}

@media screen and (min-width: 800px) {
  .pricing__box {
    width: 80%;
    row-gap: 4rem;
  }
  .pricing__box .pricing__boxes {
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .pricing__box .pricing__boxes .pricing__container {
    padding-top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 37.2rem;
  }
  .pricing__box .pricing__boxes .pricing__container .pricing__list {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pricing__box .pricing__boxes .pricing__container:nth-child(2) {
    max-width: 40.5rem;
    padding: 6rem 2rem;
  }
}
.contact__box {
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
  padding: 0 3rem;
  margin: 0 auto;
}
.contact__box .container__text {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.contact__box .container__text .contact__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.7rem;
  color: #000000;
}
.contact__box .container__text .contact__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #000000;
}
.contact__box .container__text .contact__icons .icons__box {
  display: flex;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  padding-top: 1.5rem;
}
.contact__box .container__text .contact__icons .icons__box .icon__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #A5A5A5;
}
.contact__box .container__form {
  padding-top: 5rem;
}
.contact__box .container__form .contact__form .form__field {
  display: flex;
  flex-direction: column;
}
.contact__box .container__form .contact__form .form__field .field__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #08A6E4;
}
.contact__box .container__form .contact__form .form__field .field__input {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  border: none;
  border-bottom: 2px solid #A5A5A5;
}
.contact__box .container__form .contact__form .form__checkbox {
  display: flex;
  position: relative;
}
.contact__box .container__form .contact__form .form__checkbox .checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
}
.contact__box .container__form .contact__form .form__checkbox .checkbox__checkmark {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  top: 0.4rem;
  background: url("../img/Checkmark.svg") 0 0 no-repeat;
  background-size: cover;
}
.contact__box .container__form .contact__form .form__checkbox .checkbox__checkmark:after {
  content: "";
  position: absolute;
  top: -0.1rem;
  left: -0.1rem;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid black;
  border-radius: 0.4rem;
}
.contact__box .container__form .contact__form .form__checkbox .checkbox__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #A5A5A5;
  padding-bottom: 2rem;
  padding-left: 3.5rem;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */
