/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 15px;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
.container .row [class*=col-] {
  min-height: 1px;
  width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 800px) {
  .container .row .col-1 {
    width: 8.3333333333%;
  }
  .container .row .col-2 {
    width: 16.6666666667%;
  }
  .container .row .col-3 {
    width: 25%;
  }
  .container .row .col-4 {
    width: 33.3333333333%;
  }
  .container .row .col-5 {
    width: 41.6666666667%;
  }
  .container .row .col-6 {
    width: 50%;
  }
  .container .row .col-7 {
    width: 58.3333333333%;
  }
  .container .row .col-8 {
    width: 66.6666666667%;
  }
  .container .row .col-9 {
    width: 75%;
  }
  .container .row .col-10 {
    width: 83.3333333333%;
  }
  .container .row .col-11 {
    width: 91.6666666667%;
  }
  .container .row .col-12 {
    width: 100%;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 3.7rem;
  text-decoration: none;
  color: #08A6E4;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.header__box {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px #00000029;
  padding: 0 3rem 0 2.5rem;
  position: relative;
}
.header__box .menu__box {
  box-shadow: 0 3px 6px #00000029;
  position: absolute;
  left: 0;
  top: 85%;
  max-height: 0;
  padding: 0 2.5rem;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.2s;
}
.header__box .menu__box .menu {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
  margin-top: 3rem;
}
.header__box .menu__box .menu .menu__item {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
  letter-spacing: 0.328rem;
  padding: 0.7rem 0;
  text-decoration: none;
  font-weight: 700;
  color: #A5A5A5;
}
.header__box .menu__box .menu .menu__item:link, .header__box .menu__box .menu .menu__item:visited {
  color: #A5A5A5;
}
.header__box .menu__box .menu .menu__item:hover {
  color: #000000;
  box-shadow: 0px -2px 0 #08A6E4 inset;
}
.header__box .menu__box .menu .menu__item:active {
  color: #000000;
}
@media screen and (min-width: 800px) {
  .header__box .menu__box {
    box-shadow: 0 0 0 transparent;
    max-height: 7rem;
    top: 0;
    position: relative;
    flex-direction: row;
    overflow: visible;
    align-items: center;
    justify-content: center;
  }
  .header__box .menu__box .menu {
    flex-direction: row;
    -moz-column-gap: 8rem;
         column-gap: 8rem;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
  }
  .header__box .menu__box .menu .menu__item:hover {
    color: #000000;
    box-shadow: 0 0 0 transparent;
    padding-bottom: 3rem;
    border-bottom: 0.2rem solid #08A6E4;
  }
}
.header__box .menu__icon {
  background: transparent;
  padding: 15px;
  cursor: pointer;
  display: inline-block;
}
@media screen and (min-width: 800px) {
  .header__box .menu__icon {
    display: none;
  }
}
.header__box .navigation__icon {
  background: #08A6E4;
  height: 2px;
  display: block;
  width: 20px;
  position: relative;
}
.header__box .navigation__icon:before, .header__box .navigation__icon:after {
  background-color: #08A6E4;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
}
.header__box .navigation__icon:before {
  top: 6px;
}
.header__box .navigation__icon:after {
  top: -6px;
}
.header__box .menu__btn {
  display: none;
}
.header__box .menu__btn:checked ~ .menu__box {
  max-height: 15rem;
  padding-bottom: 2.5rem;
}
.header__box .menu__btn:checked ~ .menu__icon .navigation__icon {
  background: transparent;
}
.header__box .menu__btn:checked ~ .menu__icon .navigation__icon:before {
  top: 0;
  transform: rotate(45deg);
}
.header__box .menu__btn:checked ~ .menu__icon .navigation__icon:after {
  top: 0;
  transform: rotate(-45deg);
}
/*# sourceMappingURL=main.css.map */
