.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $padding-main;

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $padding-main;
    margin-left: -$padding-main;
    margin-right: -$padding-main;

    [class*='col-'] {
      min-height: 1px;
      width: 100%;
      padding: 0 $padding-main;
    }

    @include desktop {
      @include grid(12);
    }
  }
}
