$color-background: #e4e4e4;
$color-text: #444444;
$color-logo: #fc4887;
$color-primary: #1691c3;

$font-primary: 'Open Sans', sans-serif;
$font-logo: 'Oleo Script', serif;

$breakpoint-desktop: 800px;

$border-radius: 5px;
$padding-main: 10px;
