.logo {
  font-family: $font-primary;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 3.7rem;
  text-decoration: none;
  color: $color-primary;
  //order: 1;

  &:link,
  &:visited,
  &:hover,
  &:active {}

}
